#rentalDetails .upper-section {
    margin-bottom: 30px;
}
#rentalDetails .upper-section img {
    width: 100%;
}
#rentalDetails .details-section {
    color: #434343;
}
#rentalDetails .details-section .rental-type {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}
.rental-owner {
    float: right;
}
.rental-owner img{
    height: 50px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.rental-owner span{
    display: block;
    font-size: 13px;
    font-weight: 300;
}
#rentalDetails .details-section .rental-title {
    margin-bottom: 5px;
    font-size: 32px;
    font-weight: 700;
}
#rentalDetails .details-section .rental-city {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}
#rentalDetails .details-section .rental-room-info {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 16px;
}
#rentalDetails .details-section .rental-room-info span {
    margin-right: 10px;
}
#rentalDetails .details-section .rental-room-info i {
    margin-right: 2px;
}
#rentalDetails .details-section .rental-description {
    font-weight: 300;
    margin-bottom: 30px;
}
#rentalDetails .details-section .rental-assets .title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 22px;
}
#rentalDetails .details-section .rental-assets span {
    display: block;
    margin-bottom: 15px;
    font-weight: 300;
}